.popup-edit-operative .dx-overlay-content {
  max-height: 770px !important;
}
.popup-settings .dx-overlay-content {
  max-width: 500px !important;
  max-height: 200px !important;
}
.dialog-ok-cancel .dx-overlay-content {
  max-width: 500px !important;
  max-height: 200px !important;
}
.dialog-ok-cancel-contractor .dx-overlay-content {
  max-width: 500px !important;
  max-height: 220px !important;
}
.dialog-ok-cancel-onhold .dx-overlay-content {
  max-width: 500px !important;
  max-height: 235px !important;
}
.dialog-date-picker .dx-overlay-content {
  max-width: 500px !important;
  max-height: 210px !important;
}
.popup-notes .dx-overlay-content {
  max-height: 640px !important;
  max-width: 1000px !important;
}
.popup-company-contact .dx-overlay-content {
  max-height: 400px !important;
  max-width: 1200px !important;
}
.popup-view-swipes .dx-overlay-content {
  max-height: 615px !important;
  max-width: 1200px !important;
}
.popup-print-card .dx-overlay-content {
  max-width: 680px !important;
  max-height: 465px !important;
}
.popup-manual-swipe .dx-overlay-content {
  max-height: 335px !important;
  max-width: 900px !important;
}
.popup-edit-pass-number .dx-overlay-content {
  max-width: 800px !important;
  max-height: 275px !important;
}
.popup-manage-access .dx-overlay-content {
  max-width: 800px !important;
  max-height: 275px !important;
}
.popup-add-trade .dx-overlay-content {
  max-width: 600px !important;
  max-height: 230px !important;
}
.popup-weekend-work .dx-overlay-content {
  max-width: 1200px !important;
  max-height: 600px !important;
}
.popup-emergency-operative .dx-overlay-content {
  max-width: 1200px !important;
  max-height: 435px !important;
}
.popup-add-record .dx-overlay-content {
  max-width: 600px !important;
  max-height: 230px !important;
}
.popup-login .dx-overlay-content {
  max-width: 1400px !important;
  max-height: 572px !important;
}
.popup-audit-trail .dx-overlay-content {
  max-height: 640px !important;
  max-width: 1000px !important;
}
.popup-info .dx-overlay-content {
  max-width: 500px !important;
  max-height: 360px !important;
}
.popup-induct .dx-overlay-content {
  max-width: 500px !important;
  max-height: 220px !important;
}
