html,
body,
#root {
  width: 100vw;
  min-height: 100vh;
  scrollbar-width: thin;
  overflow: hidden;
}
.page-container {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
.page-content {
  width: calc(100% - 210px);
  height: 100vh;
  display: inline-block;
  transition: width 0.25s;
  overflow: auto;
}
.page-detail {
  padding: 15px;
  height: calc(100% - 68px);
}
.page-content.collapsed {
  width: calc(100% - 68px);
  transition: width 0.25s;
}
.hidden {
  display: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
  outline: 0;
}
.row {
  padding-top: 30px;
}
.full-width {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
}
.input-group-text {
  border: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.scrollViewContainer {
  height: 100%;
}
.sidebar-container {
  padding: 10px;
  max-height: 100vh;
}
.sidebar-logo {
  font-size: 20px;
  padding-left: 10px;
}
.sidebar-list {
  list-style: none;
  padding-left: 0;
  line-height: 50px;
}
.sidebar-sublist {
  list-style: none;
  padding-left: 10px;
  width: 190px;
  z-index: 1500;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.sidebar-sublist-option-link {
  padding-left: 15px;
  font-size: 14px;
  font-weight: 600;
}
.sidebar-option {
  width: 190px;
  position: relative;
  height: 51px !important;
  overflow: hidden;
  /* transition: width 0.25s; */
  margin-top: 10px;
  z-index: 1500;
}
.sidebar-option-link {
  padding-left: 15px;
  font-size: 14px;
  font-weight: 600;
}
.sidebar-option-icon {
  margin-right: 20px;
  padding-top: 3px;
  height: 18px !important;
  width: 18px !important;
}
.sidebar-list-toggle {
  position: absolute;
  top: 19px;
  right: 0;
  margin-right: 15px;
}
.sidebar-sub-list {
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 0 5px 20px;
}
.sidebar-sub-option-link {
  padding-left: 20px;
}
.option-extended:hover {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.option-extended + .sidebar-sublist {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.option-extended.sidebar-option {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.sidebar-sublist-option:hover {
  cursor: pointer;
}
.page-sidebar {
  float: left;
  width: 210px;
  position: relative;
  height: 100vh;
  transition: width 0.25s;
  box-shadow: 7px 0 15px 0 rgba(69, 90, 100, 0.05);
}
.sidebar-option:hover {
  cursor: pointer;
  border-radius: 3px;
}
.page-sidebar.collapsed {
  width: 68px !important;
  transition: width 0.25s;
}
.collapsed .sidebar-option {
  width: 48px !important;
  height: 51px !important;
  overflow: hidden;
  transition: width 0.25s;
}
.homeIconContainer:hover {
  border-radius: 3px;
}
@media screen and (max-width: 740px) {
  .page-sidebar {
    z-index: 1500;
  }
  .page-content {
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
  }
  .page-content.collapsed {
    width: 100% !important;
  }
  .page-sidebar.collapsed {
    width: 0px !important;
    display: none;
  }
  .collapsed .sidebar-option {
    width: 0px !important;
    height: 51px !important;
    overflow: hidden;
  }
  .homeIconContainer {
    display: none !important;
  }
  .page-content.collapsed {
    width: 100% !important;
  }
}
@media screen and (max-width: 600px) {
  .manage-operatives-table-container .dx-datagrid-search-panel,
  .administration-panel-container .dx-datagrid-search-panel,
  .manage-emergency-operatives-table-container .dx-datagrid-search-panel,
  .manage-company-contacts-table-container .dx-datagrid-search-panel,
  .manage-logins-table-container .dx-datagrid-search-panel {
    display: none;
  }
}
.collapsed .sidebar-option-sublist.pop-out {
  border-bottom-right-radius: 0;
}
.collapsed .sidebar-option-icon {
  margin-right: 55px;
}
.collapsed .sidebar-option-sublist-text {
  display: none;
}
.collapsed .react-logo-wide {
  display: none;
}
.collapsed .homeIconContainer {
  display: block;
}
.page-heading {
  font-size: 18px;
  padding-left: 12px;
  font-weight: 600;
  margin: 0;
}
.section-heading {
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
}
#btnSubmit {
  margin-left: 10px;
}
.dx-datagrid:not(.dx-menu):not(.dx-context-menu):not(.dx-overlay-content) {
  padding: 30px 30px 0;
}
.buttons-row {
  padding-top: 0 !important;
}
.buttons-column-1 {
  padding-right: 0 !important;
}
.buttons-column-2 {
  padding-left: 0 !important;
}
.dx-texteditor-input {
  font-size: 16px !important;
  border-radius: 0 !important;
  min-height: 36.7px !important;
}
.dx-list-item-content {
  font-size: 16px;
}
.dx-texteditor-container {
  border-radius: 4px;
}
.dx-fileuploader-files-container,
.dx-fileuploader-input-wrapper,
.dx-fileuploader-wrapper {
  padding-left: 0 !important;
  padding-top: 0 !important;
  border-left: 0 !important;
  border-top: 0 !important;
}
.dx-datagrid-pager {
  border-top: none !important;
  padding-bottom: 30px !important;
}
.dx-toast-content {
  width: auto !important;
  padding-right: 15px !important;
}
.dx-overlay-wrapper.dx-toast-wrapper {
  position: relative !important;
}
.dx-placeholder {
  font-size: 16px;
}
.dx-popup-content .dx-datagrid {
  padding: 0 !important;
  display: block;
}
.dx-switch {
  margin-left: 30px;
}
.popup-edit-operative .row,
.popup-edit-operative [class*="col-"] {
  padding: 0;
}
.popup-edit-operative .panel {
  padding-top: 5px;
  padding-bottom: 5px;
  background: 0 0 !important;
}
.popup-edit-operative .section-heading,
.contractor-form .section-heading {
  font-size: 15px;
}
.popup-edit-operative .dx-placeholder,
.popup-edit-operative input,
.popup-edit-operative label,
.contractor-form .dx-placeholder,
.contractor-form input,
.contractor-form label {
  font-size: 14px !important;
}
.popup-edit-operative .dx-texteditor-input,
.contractor-form .dx-texteditor-input {
  min-height: auto !important;
}
.popup-edit-operative .form-group,
.contractor-form .form-group {
  margin-bottom: 8px;
}
.popup-edit-operative .input-group-text {
  background: 0 0 !important;
}
.grid-delete-button {
  margin-bottom: 10px;
  float: right !important;
}
.dx-row {
  cursor: pointer;
}
.menubar-container {
  padding: 12px;
  height: 100%;
  position: relative;
}
.menubar-list-button {
  width: 39px !important;
  height: 39px;
  cursor: pointer;
  padding: 10px;
}
.menubar-right-list-container {
  position: absolute;
  right: 12px;
  top: 12px;
}
.menubar-mid-list-container {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 500px;
  padding-top: 5px;
}
.menubar-left-list-container {
  display: inline-block;
  vertical-align: top;
  width: 50px;
}
.menubar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}
.menubar-list-option {
  float: left;
  text-align: center;
  padding-right: 10px;
}
.menubar-list-button:hover {
  border-radius: 3px;
}
.collapsed .sidebar-option-sublist.pop-out + .sidebar-sublist {
  display: inline-block;
  transform: translate(0, -50px);
}
.collapsed .sidebar-sublist.pop-out {
  display: block;
  border-top-left-radius: 0 !important;
}
.collapsed .sidebar-list-toggle {
  display: none;
}
.react-logo-short {
  display: none;
}
.react-logo-wide {
  margin: 15px 15px 8px;
  height: 28px;
}
.homeIconContainer {
  display: none;
  height: 51px !important;
  width: 48px !important;
  padding: 15px;
  text-align: center;
}
.homeIcon {
  margin-bottom: 2px;
}
.collapsed .sidebar-option:hover,
.collapsed .sidebar-option-sublist.pop-out {
  width: 248px !important;
  height: 51px !important;
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
  border-radius: 3px;
}
.collapsed .sidebar-option-sublist.pop-out + .sidebar-sublist,
.collapsed .sidebar-sublist.pop-out {
  position: absolute;
  width: 190px;
  left: 68px;
  border-radius: 3px;
}
.panel {
  padding: 25px;
  font-size: 15px;
  height: 100%;
}
.buttons-row .panel {
  padding-top: 0;
}
.menubar {
  min-height: 64px;
}
.collapsed .sidebar-option-sublist-text,
.collapsed .sidebar-option-text {
  display: none;
}
.collapsed .sidebar-option:hover .sidebar-option-text {
  display: inline-block !important;
}
.sidebar-option:hover.option-extended {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.settings-container {
  margin: 15px;
  font-size: 18px;
}
.info-container {
  margin: 15px;
  font-size: 18px;
}
.dialog-message {
  font-size: 16px;
  padding: 15px 15px 30px;
}
.dialog-button-ok {
  float: right;
}
#divNotes {
  margin: 0 !important;
}
.notes-table-container {
  max-height: 300px;
  margin-bottom: 10px;
}
.notes-table-container .dx-datagrid-rowsview {
  max-height: 300px;
}
.notes-button-ok {
  float: right;
}
.add-edit-operative-submit-container {
  position: absolute;
  bottom: 10px;
  right: 40px;
}
.popup-notes textarea {
  font-size: 14px !important;
}
.popup-company-contact label,
.popup-company-contact input,
.popup-company-contact .dx-placeholder {
  font-size: 14px !important;
  min-height: auto !important;
}
.popup-company-contact .section-heading {
  font-size: 16px !important;
}
.popup-company-contact .form-group {
  margin-bottom: 8px;
}
.company-contact-add-button,
.emergency-operative-add-button,
.login-add-button {
  position: absolute;
  top: 32px;
  left: 36px;
  z-index: 1;
}
.view-swipes-table-container .dx-datagrid {
  background: none !important;
}
.card-print-button {
  float: right;
}
@media print {
  body,
  html,
  #root,
  .page-container,
  .page-content {
    background-color: white !important;
  }
  @page {
    size: landscape;
    transform: scale(0.74);
  }
}
.manual-swipe-radio-container {
  display: inline-block;
  font-size: 16px;
}
.manual-swipe-radio-container label {
  margin-bottom: 0;
}
.manual-swipe-radio {
  margin: 0 15px 0 15px;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.manual-swipe-insert-button,
.edit-pass-update-button,
.manage-access-update-button {
  float: right;
}
.manual-swipe-radio-container label {
  margin-bottom: 0;
}
.current-pass-number {
  font-weight: 400;
  font-size: 16px;
}
.add-trade-confirmation,
.add-record-confirmation {
  color: #d7534c;
  position: absolute;
  top: 80px;
}
.add-username-confirmation {
  color: #d7534c;
  position: absolute;
  bottom: 26px;
}
.pass-number-confirmation {
  color: #d7534c;
  position: absolute;
  top: 80px;
}
.weekend-work-confirmation {
  color: #d7534c;
  position: absolute;
  top: 16px;
  left: 300px;
}
.dx-datagrid-header-panel .dx-texteditor-input {
  padding-left: 10px !important;
}
.dx-icon-search {
  display: none !important;
}
.dx-placeholder::before {
  padding-left: 10px !important;
}
.view-swipes-table .dx-datagrid-rowsview,
.view-swipes-table .dx-scrollable-content,
.view-swipes-table .dx-datagrid-content {
  max-height: 390px !important;
}
.view-swipes-table .dx-datagrid-rowsview {
  height: 390px !important;
}
.table-container {
  height: 75vh;
}
.weekend-work-insert-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.access-groups-table {
  margin: 15px;
}
.access-groups-table-body td {
  padding-top: 5px;
}
.approval-status-icon {
  font-size: 25px;
  display: inline-block;
  width: 100% !important;
  padding-bottom: 5px;
}
.approval-status-container {
  text-align: center;
}
.approval-status-arrow {
  font-size: 35px;
  display: inline-block;
  width: 100% !important;
}
.approval-status-ellipsis {
  font-size: 28px;
  display: inline-block;
  width: 100% !important;
  margin-top: 10px;
}
.current-component {
  filter: brightness(150%);
}
.manage-company-contacts-switch .dx-switch-on,
.manage-company-contacts-switch .dx-switch-off,
.manage-logins-switch .dx-switch-on,
.manage-logins-switch .dx-switch-off,
.manage-emergency-operatives-switch .dx-switch-on,
.manage-emergency-operatives-switch .dx-switch-off,
.manage-operatives-switch .dx-switch-on,
.manage-operatives-switch .dx-switch-off,
.manage-contractors-switch .dx-switch-on,
.manage-contractors-switch .dx-switch-off {
  font-size: 14px;
  vertical-align: middle;
  padding-top: 4px;
  font-weight: normal;
}
.manage-company-contacts-switch .dx-switch-handle,
.manage-logins-switch .dx-switch-handle,
.manage-emergency-operatives-switch .dx-switch-handle,
.manage-operatives-switch .dx-switch-handle,
.manage-contractors-switch .dx-switch-handle {
  height: 25px;
}
.manage-company-contacts-switch,
.manage-logins-switch,
.manage-emergency-operatives-switch {
  position: absolute;
  z-index: 1;
  top: 34.5px;
  left: 158px;
}
.manage-operatives-switch,
.manage-contractors-switch {
  position: absolute;
  z-index: 1;
  top: 38px;
}
.dx-radiobutton-icon-dot {
  margin-left: 5px !important;
  margin-top: -15px !important;
}
#approval-reqest-radio-buttons .dx-radiobutton:last-child {
  padding-top: 15px !important;
}

.administration-panel-container .dx-datagrid {
  padding-top: 0px !important;
}
.administration-panel-container .table-container {
  height: 30vh;
}
.administration-panel-container .dx-datagrid-search-panel {
  width: 60% !important;
  float: right;
}
.contractor-form {
  padding-left: 30px;
  padding-right: 30px;
}
.contractor-clickable-heading-chevron {
  font-size: 20px;
  position: absolute;
  top: -2px;
}
.contractor-clickable-heading-text {
  padding-left: 20px;
}
.contractor-collapsed .contractor-form-area {
  height: 0px;
  overflow: hidden;
  padding: 0;
  border: none;
}
.no-border {
  border: none;
}
.dx-validationsummary {
  display: inline-block !important;
}
.dx-validationsummary-item {
  cursor: default !important;
}
.dx-invalid.dx-radiogroup {
  padding: 10px;
  border: 1px solid rgba(217, 83, 79, 0.4);
}
.red {
  background-color: rgba(217, 83, 79, 0.4);
}
.dx-state-hover .red {
  background-color: rgba(217, 83, 79, 0.5) !important;
}
.homepage-panel {
  height: 412px;
}
.audit-trail-table-container {
  height: 500px;
}
.audit-trail-table-container .dx-datagrid-rowsview {
  height: 500px;
}
.add-edit-operative-photo {
  width: 200px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dx-list-item-content {
  font-size: 14px !important;
}
.contractor-form-area {
  font-size: 14px !important;
}
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark,
.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border-radius: 2px;
}
.radiomark {
  border-radius: 22px;
}
.checkbox-container:hover input ~ .radiomark,
.checkbox-container:hover input ~ .checkmark {
  border: 1px solid #4ebee9;
}
.radiomark:after,
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .radiomark:after,
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .radiomark:after {
  border: solid #1ca8dd;
  border-width: 0 12px 12px 0;
  border-radius: 100px;
  left: 4px;
  top: 3.5px;
}
.checkbox-container .checkmark:after {
  left: 6px;
  top: 1px;
  width: 8px;
  height: 15px;
  border-radius: 2px;
  border: solid #1ca8dd;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.administration-panel-container .dx-datagrid {
  padding: 0 !important;
}
.notes-table-container {
  height: 300px;
}
.notes-table-container .dx-datagrid-rowsview {
  height: 300px;
}
.one-hundred-width {
  width: 100%;
}
.one-hundred-height {
  height: 100%;
}
.report-container .dx-datagrid-header-panel {
  position: absolute;
  top: -48px;
  right: 30px;
}
.report-filter-controls,
.report-filter-controls input {
  font-size: 14px !important;
}
.report-filter-controls {
  height: 69px;
  width: 80%;
}
.report-container .dx-gridbase-container {
  padding-top: 0px !important;
  padding-left: 24px !important;
}
.add-login-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.card-operative-photo {
  -webkit-print-color-adjust: exact;
  color-adjust: exact !important;
}
.print-card-edge {
  zoom: 45% !important;
  padding: 20px !important;
}
.print-card-chrome {
  zoom: 74% !important;
}
.home-container {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 15%;
}
.administration-label {
  position: absolute;
  z-index: 1;
  font-size: 18px;
}
.administration-label span {
  top: 3px;
  position: absolute;
  width: 140px;
  font-weight: 600;
}
.administration-icon {
  width: 32px !important;
  height: 32px !important;
  font-size: 38px;
  padding: 8px;
  border-radius: 2000px;
  color: white;
  margin-right: 10px !important;
}
.report-button-save-icon {
  font-size: 38px;
  position: absolute;
  z-index: 1;
  left: calc(50% - 19px);
  top: 5px;
  text-shadow: -1px 0 #bdbdbd, 0 1px #bdbdbd, 1px 0 #bdbdbd, 0 -1px #bdbdbd;
  cursor: pointer;
}
.report-button-save-icon.filled {
  color: #ffc720 !important;
  text-shadow: none;
}
.report-button-text {
  display: block;
  font-size: 16px;
  margin-top: 35px;
  padding: 5px;
  width: 100%;
  white-space: normal;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.sidebar-sublist-option:hover {
  filter: brightness(60%);
}
.induction-schedule-date,
.induction-schedule-date input {
  font-size: 14px !important;
}
.induction-schedule-date {
  height: 69px;
  width: 300px;
  position: absolute;
  z-index: 1;
  left: 45px;
  top: 10px;
}
.reset-reports-button .dx-button-content {
  padding-top: 5px;
}
