body {
  --background-colour: #f0f1f2;
  --main-colour: #fff;
  --panel-colour: #fff;
  --accent-colour: #fafafc;
  --text-colour: #3e3e3e;
  --border-colour: #ddd;
  --line-colour: #ddd;
  --input-colour: #fafafc;
}
body,
html,
#root {
  background-color: var(--background-colour) !important;
}
.page-container {
  scrollbar-color: var(--line-colour) var(--background-colour);
  color: var(--text-colour) !important;
}
.form-control,
.dx-loadpanel-content {
  border: 1.25px solid var(--border-colour) !important;
  color: var(--text-colour) !important;
}
.form-control::placeholder,
.form-control::-ms-input-placeholder {
  color: var(--border-colour) !important;
}
.form-control,
.input-group-text,
.dx-overlay-content.dx-loadpanel-content {
  background-color: var(--main-colour) !important;
}

.page-sidebar {
  background-color: #131c29;
  color: #e1ebf5 !important;
}
.page-sidebar hr {
  background-color: #24344d !important;
}
.panel,
.dx-datagrid:not(.dx-menu):not(.dx-context-menu) {
  background-color: var(--panel-colour) !important;
}

.page-content,
.page-detail {
  background-color: var(--background-colour) !important;
}
.dx-datagrid-rowsview,
.dx-datagrid-headers,
.dx-texteditor-input,
.dx-dropdowneditor-icon,
.dx-texteditor-container,
.dx-filterbuilder-group,
.dx-overlay-content {
  background-color: var(--input-colour) !important;
}
.input-group-text {
  color: var(--text-colour) !important;
}
hr {
  background-color: var(--line-colour);
}
.sidebar-option:hover,
.option-extended + .sidebar-sublist,
.option-extended.sidebar-option,
.collapsed .sidebar-option:hover,
.collapsed .sidebar-option-sublist.pop-out,
.collapsed .sidebar-option-sublist.pop-out + .sidebar-sublist,
.collapsed .sidebar-sublist.pop-out,
.homeIconContainer:hover {
  background-color: #1c2636;
}
.buttons-row .panel,
.menubar-list-button:hover {
  background-color: var(--accent-colour);
}
.dx-placeholder {
  color: var(--border-colour) !important;
  opacity: 1 !important;
}
.dx-invalid-message .dx-overlay-content {
  background-color: #d9534f !important;
  color: var(--text-colour) !important;
}
.dx-toast-success {
  background-color: #1fa71f !important;
  color: white !important;
}
.dx-toast-error {
  background-color: #d9534f !important;
}
.dx-popup-content .dx-datagrid {
  background-color: var(--background-colour) !important;
}
.menubar {
  background-color: var(--background-colour);
  border-bottom: 1px solid var(--line-colour);
}
.page-sidebar {
  border-right: 1px solid var(--line-colour);
}
.dx-toolbar {
  background: none;
}
.access-groups-table-header {
  border-bottom: 1px solid var(--line-colour);
}
.approval-status-green,
.approval-status-arrow {
  color: #1fa71f !important;
}
.approval-status-grey,
.approval-status-ellipsis {
  color: #a8a8a8;
}
.approval-status-red {
  color: #d9534f;
}
.contractor-clickable-heading {
  cursor: pointer;
  border-bottom: solid 1px var(--line-colour);
}
.contractor-form-area {
  border-bottom: solid 1px var(--line-colour);
}
.add-edit-operative-photo {
  border: 1px solid var(--line-colour);
}
.dx-item.dx-list-item.dx-state-focused,
.dx-item.dx-list-item.dx-state-active {
  background-color: var(--background-colour) !important;
  color: var(--text-colour) !important;
}
.checkmark,
.radiomark {
  border: 1px solid var(--border-colour);
  background-color: var(--input-colour) !important;
}
.dx-button-danger.dx-button-mode-contained {
  background-color: #d9534f !important;
}
.dx-button-danger.dx-button-mode-outlined {
  border-color: #d9534f !important;
  color: #d9534f !important;
}
.checkbox-container input:disabled + .checkmark {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0) 25%,
    var(--border-colour) 25%,
    var(--border-colour) 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 75%,
    var(--border-colour) 75%,
    var(--border-colour) 100%
  );
  background-size: 5.66px 5.66px;
}
.checkbox-container input:disabled:hover + .checkmark {
  border: 1px solid var(--border-colour) !important;
}
.report-button-save-icon {
  color: var(--panel-colour) !important;
}
